.product-preview {
  height: 90vh;
  .limiter {
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 100%;
    width: 100%;
    padding: 4rem 0;
  }
  &_image {
    div {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &_button {
    @include flex(column, center, center, nowrap);
    h3 {
      font-size: fontSize(bigger2);
    }
    a {
      background-color: getColor(black);
      color: getColor(white);
      margin-top: 1rem;
      @extend .buttons;
    }
  }
  @media (min-width: 811px) {
    .limiter {
      grid-template-rows: unset;
      grid-template-columns: 2fr 1fr;
      padding: 4rem 5%;
    }
  }
}
